
.c-manga-search {
    width: 100%;
  }
  .c-manga-search .title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    width: 100%;
    color: white;
    background-color: #93B1A7;
  }
  .c-manga-search .input-container {
    padding-top: 20px;
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .c-manga-search .input-container .search {
    margin-right: 8px;
  }
  .c-manga-search .spinner-container {
    display: flex;
    background-color: darkslategrey;
    justify-content: center;
  }
  .c-manga-search .list-container {
    background-color: darkslategrey;
    width: 100%;
    min-height: 1000px;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .c-manga-search .list-container .list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
  }
  .c-manga-search .list-container .list .list-card {
    max-width: 256px;
    width: 256px;
    max-height: 394px;
    margin: 8px;
  }
  .c-manga-search .list-container .list .list-card .card-img {
    width: inherit;
    height: 344px;
    padding: 2px;
  }
  .c-manga-search .list-container .list .list-card .card-title {
    color: black;
    max-width: inherit;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  




/*  */


/* $lightTea: #DBFEB8;
$teaGreen: #C5EDAC;
$etonBlue: #99C2A2;
$morningBlue: #93B1A7;
$xanadu: #7A918D;


.c-manga-search {
    width: 100%;

    .title {
        text-align: center;
        font-size: 40px;
        padding-bottom: 10px;
        width: 100%;
        color: white;
        background-color: $morningBlue;
    }

    .input-container {
        padding-top: 20px;
        background-color: darkslategrey;
        display: flex;
        align-items: center;
        justify-content: center;

        .search {
            margin-right: 8px;
        }
    }

    .spinner-container {
        display: flex;
        background-color: darkslategrey;
        justify-content: center;
    }

    .list-container {
        background-color: darkslategrey;
        width: 100%;
        min-height: 1000px;
        padding: 20px;
        display: flex;
        justify-content: center;

        .list {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            color: white;

            .list-card {
                max-width: 256px;
                width: 256px;
                max-height: 394px;
                margin: 8px;

                .card-img {
                    width: inherit;
                    height: 344px;
                    padding: 2px;
                }

                .card-title {
                    color: black;
                    max-width: inherit;
                    padding: 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
} */