.mangaTitle {
  text-shadow: 1px 1px 2px white;
  font-size: larger;
}
.buttonSearch {
  width: 500px;
  text-shadow: 1px 1px 2px white;
  font-size: larger;
  border: 2px solid grey;
}
.buttonSearch:hover{
    box-shadow: 0 5px 15px yellow;
  }
.inputSearch {
  width: 478px;
}
